<!--  Vista de Nosotros  -->
{% extends 'layout.html' %}
{% block title %} HOLAMUNDO {% endblock %} 

{% block content %}
    {{ block.super }}

<h2 class="tittle"> Título página (Div content) </h2>
<h1> ONG - AYUDA A UN CANINO </h1>
<div >   
    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
    Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor 
    (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal 
    manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó 
    como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado
    en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más 
    recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
</div>

<div>
    <h2>Nuestros integrantes</h2>
    <li>  Persona 1 - Cargo 1</li>
    <li>  Persona 2 - Cargo 2</li> 
    <li>  Persona 3 - Cargo 3</li>   
    <li>  Persona 4 - Cargo 4</li>  
</div>

<div>      
    <h2> Nuestros animales en ayuda:</h2>
    <h3>
    <p>Gato</p>
    <p>Perro</p> 
    </h3>     
</div>

{% endblock %}

