<!--#Puedo hacer que este layout esté presente en todas las vistas del sitio concadenandolo en el return de los request http response-->
<!--cargando plantilla css en el Layout-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
    {% block title %}
    <!--Título de cada página, de cada pág voy a estar heredandoe sa plantilla-->
    {% endblock %}        
    | Título pestaña páginas
</title>

{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> <!--cargando plantilla css en el Layout (ficheso estático)-->
    
</head>


<body>

    <header>
        <div id="logotipo">
            <img src="{% static 'imgs/logo.png' %}" alt="logo">  <!--Cargando logo de manera estática-->
        <h1> Sitio web con Django | Jose Lascar (Header) </h1>
        </div>
    </header>

<nav>  
    <ul>
        <li>
            <a href="{% url 'inicio'%}">Inicio</a> <!-- heredando las URL de views.py-->
        </li>

        <li>
            <a href="{% url 'articulos'%}">Artículos</a>
        </li>

        <li>
            <a href="{% url 'create'%}">Crear Artículos</a>
        </li>


        <li>
            <a href="{% url 'hola_mundo'%}">Hola mundo</a>
        </li>

        <li>
            <a href="{% url 'nosotros'%}">Nosotros</a>
        </li>

        <li>
            <a href="{% url 'contacto' 'ASDF' 'lascar'%}">Contacto</a>
        </li>

        <li>
            <a href="{% url 'donaciones' 'jose' 'lascar'%}">Donaciones</a>
        </li>

        <li>
            <a href="/pruebas">Pruebas</a>
        </li>
    </ul>    
</nav>

<div class="barra">  
    <span class="esquina-izquierda"> </span>
    <span class="relleno-barra"> </span>
    <span class="esquina-derecha"> </span>   
</div>


<!-- Creando bloque que viene de templates   -->
<div id="content">
    <div class="box">
        {% block content %}
        <strong> Contenido del bloque original !!! (probando la herencia) </strong>
        {% endblock %}
    </div>
</div>

<!-- incorporando fecha en el footer -->
<footer>   
    - FOOTER - Master en Python &copy; Jose Lascar - {%  now "d/M/Y h:m:s" %}
</footer>


</body>
</html>