<!--Layout PRINCIPAL-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
    {% block title %}
    {% endblock %}        
    | Título pestaña páginas
</title>

{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    
</head>


<body>

    <header>
        <div id="logotipo">
            <img src="{% static 'imgs/logo.png' %}" alt="logo">
            <h1> Proyecto Django | Jose Lascar</h1>
        </div>
    </header>

<nav>  
    <ul>
        <li>
            <a href="{% url 'index' %}">Inicio</a>
        </li>

        {% if user.email %}
            <li>
                <a href="{% url 'list' %}">Categorías</a>
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="{% url 'category' category.0  %}">{{category.1}}</a>   {# Aquí agrego la tupla que devuelve el procesador de contexto #}
                        </li>
                    {% endfor %}
                </ul>
            </li>

            {% for page in pages %}   {# for para cargar las paginas del nav#}
            <li>
                <a href="{% url 'page' page.2 %}">{{page.1}}</a>   <!--El context procesor hereda el elemento 1 que contienen los objetos en la BD para mostrar-->
            </li>            <!--Obteniendo la información proveniente del indice de las tuplas, de la posición(titulo, nombre, slug)-->     
            {% endfor %}

            <li>
                <a href="{% url 'logout' %}">Cerrar sesión.</a>
            </li>

        {% else %}

            <li>
                <a href="{% url 'registro' %}">Registrate!</a>
            </li>

            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}

    </ul>
</nav>

<div class="barra">   <!--Efecto 3d de la barra-->
    <span class="esquina-izquierda"> </span>
    <span class="relleno-barra"> </span>
    <span class="esquina-derecha"> </span>   
</div>


<!-- Creando bloque que viene de templates   -->
<div id="content">
    <div class="box">
        {% block content %}
        <strong> Contenido del bloque original !!! (probando la herencia) </strong>
        {% endblock %}
    </div>
</div>

<footer>   
    Master en Python &copy; Jose Lascar - {%  now "d/M/Y h:m:s" %}
</footer>


</body>
</html>